/*Table of Contents
-------------------
1.Global Styles
2.Navbar
3.Home
4.About
5.Skills
6.Speciality
7.Resume
8.Portfolio
-----------------*/

/*-----------------------------------------------
1.Global Styles
-----------------------------------------------*/
* {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a,
  a:hover,
  a:focus,
  a:active {
    color: #fff;
    text-decoration: none;
  }
  
  /*=========== Typography ============*/
  h1 {
    font-size: 60px;
    font-weight: 800;
  }
  
  h2 {
    font-size: 50px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 30px;
    font-weight: 600;
  }
  
  h4 {
    font-size: 18px;
    font-weight: 400;
  }
  
  h5 {
    font-size: 16px;
    font-weight: 400;
  }
  
  h6 {
    font-size: 15px;
    font-weight: 400;
  }
  
  /*=========== My Classes ============*/
  
  
  /*-----------------------------------------------
  2.Navbar
  -----------------------------------------------*/
  .vertical-nav{
    position: fixed;
    top: 0;
    left: 48px;
    width: 75px;
    height: calc(100vh - 180px);
    margin-top: 90px;
    background: #121213;
    border: 3px solid #1c1c1d;
    box-shadow: 0 0 10px rgb(0, 0, 0/10%);
    overflow: hidden;
    overflow-y: auto;
  }
  
  /*==========Hide nav scrollbar for Chrome,Safari, and Opera==========*/
  .vertical-nav::-webkit-scrollbar{
    display: none;
  }
  
  /*==========Hide nav scrollbar for IE,Edge and Firefox==========*/
  .vertical-nav{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .vertical-nav .logo{
    display: inline-block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 43px;
    font-weight: 800;
    letter-spacing: -5px;
    background-color: #121213;
    border-bottom: 1px solid #181819;
    color: transparent;
    -webkit-text-stroke: 1px #403e3e;
    font-family: 'Montserrat',sans-serif;
  }
  
  .vertical-nav .logo span{
    font-size: 30px;
    padding-right: 10px;
  }
  
  .vertical-nav .toggle-menu{
    background-color: transparent;
    float: right;
    width: 43px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 9999;
    display: none;
  }
  
  .vertical-nav .toggle-menu .bar{
    display: block;
    width: 28px;
    height: 2px;
    background-color: #f9c828;
  }
  
  .vertical-nav .mini-menu > ul li a{
    display: block;    
    width: 75px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-top: 1px solid #0e0e0e;
    border-bottom: 1px solid #181819;
    color: #b9b7b7;
    font-size: 30px;
  }
  
  .vertical-nav .mini-menu > ul li .active{
    color: #f9c828;
  }
  
  .vertical-nav .toggle-menu .bar {
    display: block;
    width: 28px;
    height: 2px;
    background-color: #f9c828;
  }
  
  .vertical-nav .toggle-menu .bar:nth-child(2) {
    width: 14px;
    margin: 8px 0;
    margin-left: 7px;
  }
  
  .vertical-nav.menu-active .toggle-menu .bar:first-child {
    -webkit-transform: rotate(45deg) translate(6px, 7px);
    -moz-transform: rotate(45deg) translate(6px, 7px);
    -ms-transform: rotate(45deg) translate(6px, 7px);
    -o-transform: rotate(45deg) translate(6px, 7px);
    transform: rotate(45deg) translate(6px, 7px);
  }
  
  .vertical-nav.menu-active .toggle-menu .bar:nth-child(2) {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  
  .vertical-nav.menu-active .toggle-menu .bar:last-child {
    -webkit-transform: rotate(-45deg) translate(7px, -8px);
    -moz-transform: rotate(-45deg) translate(7px, -8px);
    -ms-transform: rotate(-45deg) translate(7px, -8px);
    -o-transform: rotate(-45deg) translate(7px, -8px);
    transform: rotate(-45deg) translate(7px, -8px);
  }
  
  /* ==========NAVIGATION========== */
  
  
  
  /* ==========CONTENTS========== */
  .page-content{
    position: relative;
    margin-left: 123px;
    margin-right: 48px;

    /* margin-top: 48px; */
    /* height: calc(100vh - 60px); */
  }
  
  /*==========main profile image=========*/
  .main-img{
    background:url(/images/main.jpg) top center no-repeat;
    filter:contrast(1.5) brightness(1.2) blur(.3px);
    background-size: cover;
    height: calc(100vh - 96px);
    margin-top: 48px;
    opacity: .7;
    border: 3px solid #1c1c1d;
    box-shadow: 0 0 10px rgb(0, 0, 0/10%);
  }
  /* grid-column */
  
  
  /*-----------------------------------------------
  3.Home
  -----------------------------------------------*/
  .content .area-bg{
    background: #121213;
    height: calc(100vh - 180px);
    margin-top: 90px;
    margin-bottom: 24px;
    border: 3px solid #1c1c1d;
    border-left: none;
  }
  
  .home-info{
      padding-left: 50px;
      padding-top: 100px;
      height: calc(100vh - 96px);
  }
  
  .home-info h3{
      font-size: 25px;
      font-weight: 800;
      color: #e6e5e5;
      line-height: 100px;
  }
  
  .home-info h1{
      font-size: 75px;
      font-weight: 800;
      color: black;
      -webkit-text-stroke: 1px #fff;
      line-height: 100px;
  }
  
  .home-info p{
      font-size: 30px;
      font-weight: 800;
      color: #e6e5e5;
      line-height: 70px;
  }
  
  .main-btn{
      position: relative;
      display: inline-block;
      color: #f9c828;
      text-decoration: none;
      border: 1px solid #f9c828;
      padding: 10px 0;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
      border-radius: 4px;
      font-weight: 600;
      font-size: 18px;
      min-width: 155px;
  }
  /* ==========HOME========== */
  
  /*-----------------------------------------------
  4.About
  -----------------------------------------------*/
  #about .area-bg{
    overflow: hidden;
    overflow-y: auto;
  }
  
  #about .area-bg::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #about .area-bg {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .title h2{
      color: #dedddc;
      font-size: 38px;
      text-transform: uppercase;
      font-weight: 800;
      margin-top: 20px;
      line-height: 1;
      letter-spacing: .7px;
  }
  
  .title h2::after{
      content: "";
      display: block;
      width: 150px;
      margin: 15px auto;
      border-bottom: 3px solid #f9c828 !important;
  }
  
  .about-info h3{
      color: #fff;
      font-size: 22px;
      font-weight: 500;
      letter-spacing: .7px;
      margin-top: 70px;
  }
  
  .about-info h3::after{
      content: "";
      display: block;
      width: 100px;
      margin: 15px 0 0 0;
      border-bottom: 3px solid #f9c828 !important;
  }
  
  .about-info p{
      color: #dedddc;
      font-size: 18px;
      margin-top: 25px;
      font-weight: 400;
      line-height: 1.8;
      margin-bottom: 25px;
  }
  
  .about-info .personal-info{
      margin-bottom: 25px;
  }
  
  .about-info .personal-info .personal-item{
      display: block;
      position: relative;
      line-height: 1;
      margin-bottom: 15px;
  }
  
  .about-info .personal-info .personal-item h4{
      position: relative;
      display: inline-block;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: capitalize;
  }
  
  .about-info .personal-info .personal-item h4::before{
      content: "";
      position: absolute;
      top: 10px;
      left: 115px;
      width: 25px;
      height: 2px;
      background: #f9c828;
  }
  
  .about-info .personal-info .personal-item h4::after{
      content: '\f105';
      font-family: "FontAwesome";
      position: absolute;
      top: 1px;
      left: 139px;
      color: #f9c828;
  }
  
  .about-info .personal-info .personal-item span{
      position: absolute;
      top: 1px;
      left: 180px;
      color: #dedddc;
      font-size: 16px;
      letter-spacing: 1px;
  }
  
  .about .about-img img{
      width: 336px;
      height: 503px;
      opacity: .6;
  }
  
  /* ==========ABOUT========== */
  
  /*-----------------------------------------------
  5.Skills
  -----------------------------------------------*/
  
  
  .skill-cont{
    position: relative;
    top: 0;
    left: 55%;
    transform: translate(-50%,-50%);
  
  }
  #skills .area-bg{
    overflow: hidden;
    overflow-y: auto;
  }
  
  #skills .area-bg::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #skills .area-bg {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .skill-cont .box{
    width: 30%;
    float: left;
  
  }
  .skill-cont .box .chart{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    text-align: center;
    font-size: 25px;
    line-height: 150px;
    color: #f9c828;
  }
  
  .skill-cont .box canvas{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .skill-cont .box h2{
    text-align: center;
    color: #fff;
    margin-top: 0;
    text-transform: uppercase;
  }
  
  .skill-cont .box h5{
    text-align: center;
    color: #d8d8d8;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  /* ==========Skills========== */
  
  /*-----------------------------------------------
  6.Speciality
  -----------------------------------------------*/
  .speciality-card{
    background: #191a1b;
    padding: 25px 18px;
    border: 1px solid #262627;
    border-bottom-width: 3px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  #speciality .area-bg{
    overflow: hidden;
    overflow-y: auto;
  }
  
  #speciality .area-bg::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #speciality .area-bg {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .speciality-card:hover{
    border-bottom-color: #f9c828;
  }
  .speciality-card .speciality-icon i::before{
    font-size: 45px;
    color: #dedddc;
    opacity: .9;
    margin-left: 0;
  }
  .speciality-card:hover .speciality-icon i::before{
    color: #f9c828 !important;
  }
  .speciality-card .card-body h4{
    position: relative;
    color: #fff;
    font-size: 19px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .speciality-card .card-body p{
    position: relative;
    line-height: 1.8;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    color: #dedddc;
  }
  /* ==========Speciality========== */
  
  /*-----------------------------------------------
  7.Resume
  -----------------------------------------------*/
  #resume .area-bg{
    overflow: hidden;
    overflow-y: auto;
  }
  
  #resume .area-bg::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #resume .area-bg {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  #resume .resume-info{
    background-color: #1a1a1b;
    border: 2px solid #1c1c1d;
    border-radius: 4px;
    padding: 30px 35px 0;
  }
  #resume .education,#resume .experience{
    padding-left: 48px;
  }
  #resume .resume-item{
    position: relative;
    background: #121213;
    padding: 15px 20px;
    margin-bottom: 30px;
    border: 2px solid #1c1c1d;
    box-shadow: 0 0 10px rgb(0, 0, 0/10%);
  }
  #resume .resume-item::before{
    content: '';
    position: absolute;
    top: 49px;
    left: -28px;
    bottom: -65px;
    width: 2px;
    background: #222223;
    box-shadow: 0 0 10px rgb(0, 0, 0/10%);
  }
  #resume .resume-item-web::before{
    display: none;
  }
  #resume .resume-item .resume-date{
    position: relative;
    display: inline-block;
    min-width: 175px;
    background: #121213;
    border: 2px solid #222223;
    color: #f9c828;
    padding: 14px 0;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 24px;
    margin-left: -70px;
  }
  #resume .resume-item .resume-date i{
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 52px;
    font-size: 23px;
    text-align: center;
    border-radius: 50%;
    color: #f9c828;
  }
  #resume .resume-item span{
    display: inline-block;
    letter-spacing: 1px;
    color: #dedddc;
    margin: 10px;
    font-size: 15px;
  }
  #resume .resume-item h4{
    font-size: 17px;
    font-weight: 600;
    padding: 15px 0 10px;
    text-transform: capitalize;
    color: #fff;
    opacity: .8;
  }
  #resume .resume-item p{
    color: #dedddc;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 0;
  }
  /* ==========Resume========== */
  
  /*-----------------------------------------------
  8.Portfolio
  -----------------------------------------------*/
  #portfolio .area-bg{
    overflow: hidden;
    overflow-y: auto;
  }
  
  #portfolio .area-bg::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #portfolio .area-bg {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .portfolio-info .item{
    position: relative;
    width: 80%;
    margin: auto;
    border-radius: 10px;
  }
  .portfolio-info .item .image{
    border-radius: 10px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .portfolio-info .item .overlay{
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .portfolio-info .item:hover .image{
    opacity: 0.3;
  }
  .portfolio-info .item:hover .overlay{
    opacity: 1;
  }
  .portfolio-info .item .overlay .item-title,.portfolio-info .item .overlay .item-category span{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    color: #fff;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
  }
  .portfolio-info .item .overlay .icon-img i{
    position: absolute;
      top: 55px;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 30px;
  }
  .portfolio-info .item .overlay .icon-img i:hover{
    color: #f9c828;
  }
  .portfolio-info .item .overlay .item-category span{
    top: 80px; 
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .portfolio-info .item .overlay .item-category span::before{
    content: "";
    position: absolute;
    top: 11px;
    left: -32px;
    width: 26px;
    height: 2px;
    background-color: #f9c828;
  }
  
  
  /* ===========MEDIA QUERY========== */
  @media (max-width: 575.98px){
    .page-content{
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      top: 56px;
      /* height: unset; */
    }
    .vertical-nav {
      position: fixed;
      left: 0;
      width: 100%;
      height: 65px;
      margin-top: 0;
      border: none;
      border-bottom: 2px solid #1c1c1d;
  overflow: hidden;
  }
  .vertical-nav .logo span{
    padding-right: 0px;
  }
  
  .vertical-nav .mini-menu {
      position: fixed;
      top: 0;
      left: 0;
  margin-right: 43px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-duration: .3s;
      transition-duration: .3s;
  }
  
  .vertical-nav.menu-active .mini-menu {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  }
  
  .vertical-nav .mini-menu li {
      display: inline-block;
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-duration: .3s;
      transition-duration: .3s;
  }
  
  .vertical-nav.menu-active .mini-menu > ul li {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  }
  
  .vertical-nav.menu-active .mini-menu > ul li:first-of-type() {
  -webkit-transition-delay: 0s;
      transition-delay: 0s;
  }
  
  .vertical-nav.menu-active .mini-menu > ul li:nth-of-type(2) {
  -webkit-transition-delay: .1s;
      transition-delay: .1s;
  }
  
  .vertical-nav.menu-active .mini-menu > ul li:nth-of-type(3) {
  -webkit-transition-delay: .2s;
      transition-delay: .2s;
  }
  
  .vertical-nav.menu-active .mini-menu > ul li:nth-of-type(4) {
  -webkit-transition-delay: .3s;
      transition-delay: .3s;
  }
  
  .vertical-nav.menu-active .mini-menu > ul li:nth-of-type(5) {
  -webkit-transition-delay: .4s;
      transition-delay: .4s;
  }
  
  .vertical-nav.menu-active .mini-menu > ul li:nth-of-type(6) {
  -webkit-transition-delay: .5s;
      transition-delay: .5s;
  }
  .vertical-nav.menu-active .mini-menu > ul li:nth-of-type(7) {
  -webkit-transition-delay: .6s;
      transition-delay: .6s;
  }
  
  .vertical-nav.menu-active .mini-menu > ul li:last-of-type() {
  -webkit-transition-delay: .6s;
      transition-delay: .6s;
  }
  
  .vertical-nav .mini-menu > ul li a {
      display: inline-block;
      width: auto;
      height: auto;
      line-height: 65px;
      margin: -10px 3px;
      border: none;
  }
  
  .vertical-nav .mini-menu > ul li a i:before {
      font-size: 19px;
  }
  
  .vertical-nav .logo {
      float: left;
      width: 65px;
      height: 65px;
      line-height: 65px;
  }
  
  .vertical-nav.menu-active .logo {
      display: none;
  }
  
  .vertical-nav .toggle-menu {
    display: block;
  }
  .content .area-bg{
    margin-top: 0px;
    margin-bottom: 0px;
    height: calc(100vh - 58px);
    border: none;
  }
  .home-info{
      padding-top: 150px !important;
  }
  .skill-cont{
    left: 70%;
  }
  .skill-cont .box{
    width: 55%;
  }
  .portfolio-info .item .image{
    border-radius: 4px;
  }
  }
  
  
  @media only screen and (max-width:992px){
    .home-info{
      padding-top: 50px;
      padding-left: 30px;
    }
    .home-info h3{
      font-size: 20px;
      line-height: 58px;
    }
    .home-info h1{
      font-size: 55px;
      line-height: 75px;
    }
    .home-info p{
      font-size: 25px;
      line-height: 66px;
    }
    .portfolio-info .item .overlay{
      top: 25%;
    }
    .portfolio-info .item .overlay .item-title{
      font-size: 16px;
    }
    .portfolio-info .item .overlay .icon-img i{
      font-size: 22px;
      top: 38px;
    }
    .portfolio-info .item .overlay .item-category span{
      font-size: 14px;
      top: 55px;
    }
  }
  @media only screen and (min-width:575.99px) and (max-width:768px){

    .content .area-bg{
      margin-top: 90px;
      margin-bottom: 0;
      height: calc(100vh - 180px);
  
    }
    .home-info{
        padding-top: 200px;
        padding-left: 50px;
    }
    .vertical-nav{
        height: calc(100vh - 250px);
        margin-top: 130px;
    }
  }
  @media only screen and (min-width:575.98px) and (max-width:1176px){
    .skill-cont .box{
      width: 46%;
    }
  }
  @media only screen and (min-width:992px){
    .area-bg{
      position: absolute;
      animation: 1s mymove;
      animation-fill-mode: forwards;
  }
  @keyframes mymove{
      from{
          right: -800px;
      }
      to{
          right: 0px;
      }
  }
  }
  
  